
body {
    font-size: 12px;
    line-height: 24px;
    color:#555;
    background: #fcfcfc;
}


		.box{			
			margin:20px;
			padding:20px;
			background:#eee;
			border:1px solid #999;				
		}
		.left{
			width:200px;
			border:1px solid #999;
			background:#fff;
			padding:20px;
			float:left;
			box-sizing:border-box;
		}
		.logo{
			width:80px;
			height:80px;
			border:1px solid #999;
			background:#999;
			float:left;
		}
		.left>p{
			float:left;
			margin-top:-5px;
			margin-left:20px;
		}
		.middle{		
			margin-left:220px;
			margin-right:140px;
			border:1px solid #999;
			padding:20px;
			background:#fff;
		}
		.right{
			width:120px;
			border:1px solid #999;
			background:#fff;
			float:right;
			padding:20px;
			box-sizing:border-box;			
		}
		
